# Google Apps Script URL (la que vas copiar del desplegament)
NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwGCpok3aP5Elan8w19l_hHfqtxubUSlupms27CK2SjbeJ-v6CcAU3sVo3YOrULAyeJ8g/exec
# Password (ha de coincidir amb el del Apps Script)
ADD_PASSWORD=GRANDIA

# URL de l'app
NEXT_PUBLIC_APP_URL=http://localhost:3000
